# Exercise 9: Which stocks move together?

In the previous exercise, you clustered companies by their daily stock price movements.  So which company have stock prices that tend to change in the same way?  Now inspect the cluster labels from your clustering to find out.

From the course _Transition to Data Science_. [Buy the entire course for just $10](https://www.udemy.com/transition-to-data-science-in-python/?couponCode=CLUSTER-NBS) for many more exercises and helpful video lectures.

**Step 1:** Load the data _(written for you)_.

In [9]:
import pandas as pd

fn = '../datasets/company-stock-movements-2010-2015-incl.csv'
stocks_df = pd.read_csv(fn, index_col=0)

**Step 2:** Run your code from the previous exercise _(filled in for you)_.

In [10]:
companies = list(stocks_df.index)
movements = stocks_df.values

from sklearn.preprocessing import Normalizer
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline

normalizer = Normalizer()
kmeans = KMeans(n_clusters=14)
pipeline = make_pipeline(normalizer, kmeans)
pipeline.fit(movements)

Pipeline(memory=None,
         steps=[('normalizer', Normalizer(copy=True, norm='l2')),
                ('kmeans',
                 KMeans(algorithm='auto', copy_x=True, init='k-means++',
                        max_iter=300, n_clusters=14, n_init=10, n_jobs=None,
                        precompute_distances='auto', random_state=None,
                        tol=0.0001, verbose=0))],
         verbose=False)

**Step 3:** Use the `.predict()` method of the pipeline to predict the labels for `movements`.

In [11]:
labels=pipeline.predict(movements)
labels

array([ 8,  0, 10,  1, 12,  0,  6,  4,  1,  2,  5,  7,  5,  1,  3,  0,  0,
       10,  0,  6,  1,  4,  3,  1,  7,  1,  0,  2, 11, 12,  1, 13,  1,  7,
        4,  6, 12,  6, 11,  5,  2, 11,  6,  6,  5,  4,  6,  1,  4,  6,  7,
        7,  6,  5, 12,  0,  9,  5,  0,  1])

**Step 4:** Align the cluster labels with the list of company names `companies` by creating a DataFrame `df` with `labels` and `companies` as columns.

In [12]:
df=pd.DataFrame({'labels':labels,'companies':companies})
df.head()

   labels         companies
0       8             Apple
1       0               AIG
2      10            Amazon
3       1  American express
4      12            Boeing

**Step 5:** Now display the DataFrame, sorted by cluster label.  To do this, use the `.sort_values()` method of `df` to sort the DataFrame by the `'labels'` column.

In [13]:
df.sort_values('labels') #按照labels进行排序

    labels                           companies
1        0                                 AIG
55       0                         Wells Fargo
5        0                     Bank of America
58       0                               Xerox
26       0                      JPMorgan Chase
18       0                       Goldman Sachs
16       0                   General Electrics
15       0                                Ford
59       1                               Yahoo
32       1                                  3M
30       1                          MasterCard
25       1                   Johnson & Johnson
20       1                          Home Depot
23       1                                 IBM
3        1                    American express
13       1                   DuPont de Nemours
8        1                         Caterpillar
47       1                            Symantec
9        2                   Colgate-Palmolive
40       2                      Procter Gamble
27       2                      Kimberly-Clark
14       3                                Dell
22       3                                  HP
45       4                                Sony
21       4                               Honda
48       4                              Toyota
7        4                               Canon
34       4                          Mitsubishi
44       5                        Schlumberger
39       5                              Pfizer
53       5                       Valero Energy
10       5                      ConocoPhillips
12       5                             Chevron
57       5                               Exxon
6        6            British American Tobacco
35       6                            Navistar
37       6                            Novartis
49       6                               Total
52       6                            Unilever
42       6                   Royal Dutch Shell
43       6                                 SAP
46       6                      Sanofi-Aventis
19       6                     GlaxoSmithKline
33       7                           Microsoft
50       7  Taiwan Semiconductor Manufacturing
11       7                               Cisco
24       7                               Intel
51       7                   Texas instruments
0        8                               Apple
56       9                            Wal-Mart
17      10                     Google/Alphabet
2       10                              Amazon
38      11                               Pepsi
28      11                           Coca Cola
41      11                       Philip Morris
36      12                    Northrop Grumman
54      12                            Walgreen
4       12                              Boeing
29      12                     Lookheed Martin
31      13                           McDonalds

**Great job!** Using k-means, you've discovered which companies stock prices move together on the stock exchange.