# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [5]:
import pandas as pd
import numpy as np
import os

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [6]:
os.getcwd()

'f:\\github_repo\\python-learning\\submitted\\songxiaoman\\01_Getting_&_Knowing_Your_Data\\Chipotle'

In [7]:
path = '../../../../pandas_exercises_with_data/data/'
chipo = pd.read_csv(path+'chipotle.tsv', sep = '\t')

### Step 4. See the first 10 entries

In [8]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [9]:
# Solution 1
chipo.shape[0] #查看行数

4622

In [10]:
# Solution 2
chipo.iloc[:,0].size

4622

### Step 6. What is the number of columns in the dataset?

In [11]:
chipo.columns.size #查看列数

5

In [12]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [13]:
chipo.columns #列名

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [14]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [15]:
m1=chipo.groupby('item_name')
m2=m1.sum()
m2=m2.sort_values(['quantity'], ascending=False) #降序
m2.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [16]:
m2.head(1).iloc[:,[1]]

              quantity
item_name
Chicken Bowl       761

### Step 11. What was the most ordered item in the choice_description column?

In [17]:
m3=chipo.groupby('choice_description')
m4=m3.sum()
m4=m4.sort_values(['quantity'], ascending=False) #降序
m4.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [18]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [19]:
chipo.item_price.dtype #查看类型

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [20]:
trans = lambda x:float(x[1:-1])
chipo.item_price = chipo.item_price.apply(trans) #变为float
chipo.item_price.head(5)

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

#### Step 13.c. Check the item price type

In [21]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [22]:
revenue=(chipo['quantity']*chipo['item_price']).sum()
print('revenue=$',revenue)

revenue=$ 39237.02

### Step 15. How many orders were made in the period?

In [23]:
chipo.order_id.value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [24]:
# Solution 1
chipo['revenue']=chipo.quantity*chipo.item_price #每笔收入
group_order=chipo.groupby('order_id').sum()#每个id之和
np.round(group_order.mean()['revenue'],2) #平均每个id收入

21.39

In [25]:
# Solution 2
np.round(chipo.groupby('order_id').sum().mean(),2)['revenue']

21.39

### Step 17. How many different items are sold?

In [26]:
chipo.item_name.value_counts().count()

50